* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(72, 72, 72);
    color:white;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 2;
    font-family: sans-serif;
  }
  
  h1,
  h2,
   {
    font-size: 100%;
  }