:root {
    /* declare a variable with `--` syntax */
    --light: rgb(223, 98, 227);
    --border-radius: 5px;
    --selected: rgb(61, 204, 223);
    --outer-space: #33393f;
}

::selection {
/* get effect when user select the texts. */
    background-color: var(--selected);
    color: var(--outer-space);
  }

html {
/* set 1rem to 10px instead of native 16px to make it easier 
to calculate font-size values for the rest of the page 
(e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
font-size: 62.5%;
}

body {
    /* Sans Serif font stack is implemented to help select 
    the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, 
    which is 1.75x more than the font-size of 10px, 
    making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: white;
    background-color: var(--outer-space);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--light);
  font-weight: 700;
  line-height: 2;}

h1 {
    text-align: center;
    margin:20px;
    color: var(--light);
    
}

header p {
    margin: 0 20px 40px 20px;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
/* 4rem = 40px (4 * 10px) */
font-size: 4rem;
}

h2 {
font-size: 3.5rem;

}

h3 {
font-size: 3rem;
}

h4 {
font-size: 2.5rem;
}

h5 {
font-size: 2rem;
}

h6 {
font-size: 1.5rem;
}

p {
margin-bottom: 1rem;
}
main {
    margin:24px;
    width: 96%;
}
code {
    /* Monospace font stack is used for our code blocks to make it look more like code */
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
      'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
      monospace;
}

header {
    width:96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1{
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

main {
    width: 96%;
    margin:2rem auto;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

.code-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.justify-center {
 justify-content: center;
}

.card-column {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: flex-basis 500ms linear;
    flex: 0 1 100%;
    
}

.card {
    display: flex; /* Use flex layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    outline: 1px dashed white;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;  
}

.card .code-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--light);
    border: 2px solid white;
    border-radius: var(--border-radius);
    transition: all 0.5s ease-in-out;
    line-height: 1.1;
    /* line-height: 0. 5rem; */
}

.card:hover,
.card:hover .code-header{
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1)}


section p {
    color: var(--light);
    margin-left:6px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.card .code {
    height: 100%; /* Fill the available space within the .card */
    flex-grow: 1; /* Expand and take the remaining space within the .card */
   
}
.card pre {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;  
    background-image: linear-gradient(rgba(232, 102, 236, 0.3)0%, rgba(232, 102, 236, 0.6)100%);
    
    padding: 1.2rem 1rem;
    border-radius: var(--border-radius);
    color: white;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */

@media screen and (min-width: 768px) {
 /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
        max-width: 50%;
        flex: 0 0 50%;
        
    .card:last-child {
        flex-grow: 1;
        }
    }
}
  
/* media query for larger screens */
@media screen and (min-width: 992px) {
    header {
        width: 75%;
      }
    
      .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
}

.code:active {user-select: all;}